<div class="carousel-card">
    <% const post=posts[0] %>
        <h1>
            <%= post.title %>
        </h1>
        <img src="<%= post.post_images %>" alt="/image1.jpg">
        <p>
            <%= post.content %>
        </p>

</div>