<div class="carousel-card">
    <% posts.forEach(post=> { %>
        <h1>
            <%= post.title %>
        </h1>
        <img src="<%= post.post_images %>" alt="<%= post.title %>">
        <p>
            <%= post.content %>
        </p>
        <% }) %>
</div>